
.footerClass{
    padding: 30px;
    color: white;
    background: #132644;
}

.listaNavegacion{
    list-style: none;
}

.listaNavegacion a{
    text-decoration: none;
    color: white;
}

.btnRed{
    border-radius: 50%;
    border: none;
    background: #E93740;
    color: white;
}
