
.footerClass{
    padding: 30px;
    color: white;
    background: #132644;
}

.listaNavegacion{
    list-style: none;
}

.listaNavegacion a{
    text-decoration: none;
    color: white;
}

.btnRed{
    border-radius: 50%;
    border: none;
    background: #E93740;
    color: white;
}

.btnwsp{

    position: fixed;
    width: 65px;
    height: 65px;
    line-height: 65px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}

.btnwsp:hover{
    background: white;
    color: #0df053;
}
