body{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

#carouselExampleIndicators{
    margin-top: 100px;
}

#carouselExampleIndicators img{
    width: 80%;
}

.frase{
    padding: 20px;
    background: #F4F4F4;
    max-width: 100%;
}

.nav-link.active{
    border-bottom: 2px solid red;
}

.num{
    font-size: 40px;
}