{% extends "index.html" %}
{% load static %}

{% block content %}
    <!--Seccion quienes somos-->
    <section id="seccionQuienes" class="seccionQuienes">
        <div class="row divsQuienes">
            <div class="col-md-12 text-center">
                <h2><b>¿QUIÉNES SOMOS?</b></h2>
            </div>
            <div class="col-md-12">
                <p class="parrafoNosotros">
                    En Prodigy, somos un equipo dedicado a facilitar tu éxito académico
                    y profesional. Nos especializamos en servicios integrales de 
                    asistencia en la redacción, investigación y desarrollo de tesis y
                    monografías. Nuestro compromiso radica en ofrecer soluciones de 
                    alta calidad que cumplen con estándares rigurosos, 
                    respetando la confidencialidad y asegurando el 
                    cumplimiento de plazos.
                </p>
            </div>
        </div>
    </section>

    <!--Seccion mision-->
    <section id="seccionMision" class="seccionMision">
        <div class="row divsMision align-self-center">
            <div class="col-md-2 align-self-center text-center">
                <h2><b>MISIÓN</b></h2>
            </div>
            <div class="col-md-10 align-self-center">
                <p class="parrafoNosotros">
                    Nuestro objetivo es facilitar tu éxito académico y profesional
                    mediante servicios integrales de asistencia en la redacción,
                    investigación y desarrollo de tesis y monografías, manteniendo
                    altos estándares de calidad, respetando la conﬁdencialidad y
                    promoviendo tu crecimiento profesional.
                </p>
            </div>
        </div>
    </section>

    <!--Seccion vision-->
    <section id="seccionVision" class="seccionVision">
        <div class="row divsVision align-self-center">
            <div class="col-md-10 align-self-center">
                <p class="parrafoNosotros">
                    En Prodigy, aspiramos a ser líderes reconocidos en asesoría de
                    tesis a nivel global, expandiendo nuestra presencia mediante
                    estrategias de marketing innovadoras y alianzas estratégicas
                    con instituciones educativas, mejorando constantemente tu
                    experiencia y la calidad de nuestros servicios.
                </p>
            </div>
            <div class="col-md-2 align-self-center text-center">
                <h2><b>VISIÓN
                </b></h2>
            </div>
        </div>
    </section>

    <!--Seccion valores-->
    <section id="seccionValores" class="seccionValores">
        <div class="row divsValores align-self-center">
            <div class="col-md-12 align-self-center text-center">
                <h2><b>VALORES</b></h2>
            </div>
            <div class="col-md-12 contenedorV align-self-center text-center">
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/1.png' %}" alt="" style="max-width: 150px;">
                    <h4 class="listaNavegacion2">CALIDAD</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/2.png' %}" alt="" style="max-width: 190px;">
                    <h4 class="listaNavegacion2">CONFIDENCIALIDAD</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/3.png' %}" alt="" style="max-width: 150px;">
                    <h4 class="listaNavegacion2">COMPROMISO</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/4.png' %}" alt="" style="max-width: 150px;">
                    <h4 class="listaNavegacion2">APRENDIZAJE CONTINUO</h4>
                </div>
            </div>
            <div class="col-md-12 contenedorV align-self-center text-center justify-content-center">
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/5.png' %}" alt="" style="max-width: 180px;">
                    <h4 class="listaNavegacion2">ÉTICA PROFESIONAL</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/6.png' %}" alt="" style="max-width: 150px;">
                    <h4 class="listaNavegacion2">INNOVACIÓN</h4>
                </div>
                <div class="col-md-3 col-sm-12">
                    <img src="{% static 'img/valores/7.png' %}" alt="" style="max-width: 150px;">
                    <h4 class="listaNavegacion2">RESPONSABILIDAD</h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
