{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/sectionReveal.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block head %}
    <title>ProdigyTesisLab</title>
    {% endblock %}
</head>
<body>
    {% include 'components/header.html' %}
    {% include 'components/carousel.html' %}
    {% block content %}
    <br>
    <section>
        <div class="row frase d-flex justify-content-center">
            <div class="col-md-4 align-self-center text-center">
                <img src="{% static 'img/ejemplo.jpg' %}" alt="" width="300">
            </div>
            <div class="col-md-8 align-self-center text-center">
                <p>
                    Nunca consideres el estudio como 
                        una obligación, sino como una oportunidad 
                        para penetrar en el bello y maravilloso mundo  del saber.
                </p>
            </div>
        </div>
    </section>
    <br>

    <!--Seccion donde estan los datos numericos de la empresa-->
    <section id="seccionNumeros" class="seccionNumeros reveal">
        <div class="row divsInformacion">
            <div class="col-md-12 align-self-center text-center">
                <h2>Experiencia</h2>
            </div>
            <div class="col-md-12 align-self-center text-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 contenedorInformacion flex-column">
                        <span class="num" data-val="200">000</span>
                        <p>Tesis de Grado Desarrolladas</p>
                    </div>
                    <div class="col-4 contenedorInformacion flex-column">
                        <span class="num" data-val="10">0000</span>
                        <p>Años ayudando a estudiantes y profesionales</p>
                    </div>
                    <div class="col-4 contenedorInformacion flex-column">
                        <span class="num" data-val="30">00</span>
                        <p>Especialistas trabajando con nosotros</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Seccion donde se encuentran algunas imagenes de los enfoques de la empresa-->
    <section id="seccionEnfoques" class="seccionEnfoques reveal2">
        <div class="row divsInformacionContenedor">
            <div class="col-12 contenedorSubtitulo align-self-center text-center">
                <h2 class="subTitulos">Enfoques</h2>
            </div>
            <div class="col-12 align-self-center text-center">
                <div class="row d-flex justify-content-center">
                    <div class="card col-md-2 contenedorImagen flex-column">
                        <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenAlta card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">PREGRADO</h5>
                        </div>
                    </div>
                    <div class="col-4 contenedorImagen flex-column">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenGrilla card-img">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenGrilla card-img">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenGrilla card-img">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenGrilla card-img">
                            </div>
                        </div>
                    </div>
                    <div class="col-2 contenedorImagen flex-column">
                        <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="imagenAlta card-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Seccion de noticias sobre nosotros-->
    <section id="seccionNoticias" class="seccionNoticias reveal3">
        <div class="row divsInformacionNoticias">
            <div class="col-md-12 contenedorSubtitulo align-self-center text-center">
                <h2 class="subTitulos">Noticias de Nosotros</h2>
            </div>
            <div class="col-md-12 align-self-center text-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 contenedorNoticia flex-column">
                        <iframe class="tamanoVideo" src="https://www.youtube.com/embed/_PJvpq8uOZM?list=RDMMLl2rA7IpeNI" title="BAD BUNNY - MONACO (Official Video) | nadie sabe lo que va a pasar mañana" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 contenedorNoticia flex-column">
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="card-img">
                            </div>
                            <div class="col-9">
                                <div class="row">May 7, 2023</div>
                                <div class="row">
                                    Nuestras tesis han sido reconocidas y premiadas
                                </div>
                                <div class="row">
                                    Learn insider tips for getting the best deals and making the most of your rental car experience.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="card-img">
                            </div>
                            <div class="col-9">
                                <div class="row">May 7, 2023</div>
                                <div class="row">
                                    Nuestras tesis han sido reconocidas y premiadas
                                </div>
                                <div class="row">
                                    Learn insider tips for getting the best deals and making the most of your rental car experience.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="card-img">
                            </div>
                            <div class="col-9">
                                <div class="row">May 7, 2023</div>
                                <div class="row">
                                    Nuestras tesis han sido reconocidas y premiadas
                                </div>
                                <div class="row">
                                    Learn insider tips for getting the best deals and making the most of your rental car experience.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <img src="{% static 'img/ejemplo.jpg' %}" alt="" class="card-img">
                            </div>
                            <div class="col-9">
                                <div class="row">May 7, 2023</div>
                                <div class="row">
                                    Nuestras tesis han sido reconocidas y premiadas
                                </div>
                                <div class="row">
                                    Learn insider tips for getting the best deals and making the most of your rental car experience.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Seccion del formulario-->
    <section id="seccionFormularios" class="seccionFormularios">
        <div class="row divsFormularioContacto d-flex justify-content-center">
            <div class="row divRowFormMiddle">
                <div class="col-md-4 bg-dark">
                    <p>hola</p>
                </div>
                <div class="col-md-8 divFormGroup">
                    <h4>Estas a un paso de nosotros....</h4>
                    <br>
                    <form method="post" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label class="form-label">Nombre</label>
                            {{ form.Nombre }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellido</label>
                            {{ form.Apellido }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Telefono</label>
                            {{ form.Telefono }}
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Correo</label>
                            {{ form.Correo }}
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Mensaje</label>
                            {{ form.Mensaje }}
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-light btnContactar">Contactar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <br>
    {% endblock %}
    <!--Seccion del footer-->
    {% include 'components/footer.html' %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>