<footer class="footerClass">
    <div class="row align-self-center ">
        <div class="col-md-4">
            <h4>LOGOTIPO</h4>
            <p>
                Sri Lanka's first & largest platform designed to create an online marketplace exclusively for RENT
            </p>
            <span>botones</span>
        </div>
        <div class="col-md-3">
            <h6>Navigation</h6>
            <ul class="listaNavegacion">
                <li>Nosotros</li>
                <li>Blog</li>
                <li>terminos y Condiciones</li>
                <li>Politica de Privacidad</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h6>Help</h6>
            <ul class="listaNavegacion">
                <li>FAQ</li>
                <li>Contactanos</li>
            </ul>
        </div>
    </div>
</footer>
<br>
<div class="col text-center">
    <h6>© Copyright 2024. Designed and Developed by prodigytesislab</h6>
</div>