{% load static %}
<footer class="footerClass">
    <div class="row align-self-center ">
        <div class="col-md-4">
            <img src="{% static 'img/Color.png' %}" alt="" class="logo">
            <p>
                "Te ayudamos en tu tesis:
            </p>
            <p>
                ¡Juntos hacia el éxito académico!"
            </p>
            <span>botones</span>
        </div>
        <div class="col-md-3">
            <h6>Navigation</h6>
            <ul class="listaNavegacion list-group list-group-flush">
                <li><a href="/home">Inicio</a></li>
                <li><a href="/aboutWe">Nosotros</a></li>
                <li><a href="">Cotizar</a></li>
                <li>Politica de Privacidad</li>
            </ul>
        </div>
        <div class="col-md-2">
            <h6>Help</h6>
            <ul class="listaNavegacion list-group list-group-flush">
                <li>FAQ</li>
                <li>Contactanos</li>
            </ul>
        </div>
    </div>
</footer>
<br>
<div class="col text-center">
    <h6>© Copyright 2024. Designed and Developed by prodigytesislab</h6>
</div>